.nav-link {
  color: rgb(0, 0, 0);
}
.navbar {
  height: 75px;
}
.container2 .nav-link {
  color: black;
}
.container .collapse {
  flex-grow: 0;
}
.white-banners {
  padding: 60px 0;
}
.carousel-liner {
  margin: 0 auto;
  width: 75%;
}
.white-banners {
  text-align: center;
}
.container .img {
  background-image: url("products.png");
}
